.root {
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.appBar {
  background-color: #242424 !important;
  box-shadow: none;
  height: 30px;
  justify-content: center;
}

.mainAppBar {
  box-shadow: none;
  background-color: #000 !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.mainToolbar {
  padding: 16px;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logoImage {
  width: 150px;
  height: auto;
  margin: 0;
  padding: 0;
}

.mainNavLinks {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

.scroll-link {
  cursor: pointer;
}