@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #242424;
}

.navbar {
  background-color: #242424 !important;
}

.nav_bg {
  background-color: #242424 !important;
}

.navbar-brand {
  font-size: 1.9rem;
  color: #fff;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #fff;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #3498db;
  color: #3498db !important;
}

.navbar a:hover {
  color: #3498db !important;
}

.navbar-toggler {
  color: #ffffff;
  border-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}

/* Carousel */

.carousel-wrapper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: max-content;
}

.carousel .carousel-slide {
  padding: 8rem 4rem 8rem; /* Adjust the padding value as needed */
  transition: transform 1s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .carousel-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Maintain the aspect ratio without cutting the image */
}

.carousel .slide {
  opacity: 0.6; /* Adjust opacity for non-active slides */
  transition: opacity 0.3s ease;
}

.carousel .slide.selected {
  opacity: 1; /* Active slide has full opacity */
}

.carousel .slide.selected .carousel-slide img {
  transform: scale(1.8); /* Increase the scale value to make the center image bigger */
}

.carousel .slide.selected .carousel-slide {
  z-index: 1; /* Set z-index to bring the center image to the top */
}

.carousel .thumbs-wrapper {
  display: none;
}